/* Popup CSS */

/*
papaya: #e26e5c
burgundy: #723d46
dark burg: #472d30
weird green: #d5b941
*/

/* fonts */
@font-face {
  font-family: 'Anton';
  src: url('../css/Anton/Anton-regular.ttf')
  format('truetype');
}

#accent-font {
  font-family: 'Anton', Helvetica, sans-serif;
  letter-spacing: 2px;
}

body {
  margin: 0px;
}

.outer-box {
  background-color: #723d46;
  width: 500px;
  height: 350px;
  margin-top: 0px;
}

.inner-box {
  background-color: #e26e5c;
  width: 470px;
  height: 320px;
  position: relative;
  top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.exit-button {
  width: 25px;
  height: 25px;
  background-color: #d5b941;
  position: relative;
  left: 435px;
  top: 10px;

}

.modal-text {
  font-family: 'Helvetica';
  color: #472d30;
  margin-left: 20px;
  position: relative;
  top: -30px;
}

.modal-text h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 3px;
  position: relative;
  top: -20px;
}

.modal-text h3 {
  font-style: italic;
  font-size: 20px;
}

.highlight-box {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #d5b941;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  top: -5px;
}

.results-text {
  display: flex;
  justify-content: center;
  position: relative;
  top: -5px;
}
