/* Popup CSS */

/*
papaya: #e26e5c
burgundy: #723d46
weird green: #d5b941
*/

.outer-box {
  background-color: #723d46;
}

.inner-box {
  background-color: #e26e5c;
  padding: 15px;
}

.exit-button {
  background-color: #d5b941;
  border-radius: 15px;
  padding: 15px;
}

.popup-text {
  font-family: 'Helvetica';
}

.popup-text h1 {
  font-weight: bold;
  font-style: italic;
  color: #723d46;
}

.popup-text h4 {
  font-style: italic;
  color: white;
}

.highlight-box {
  width: 150px;
  height: 40px;
  background-color: #d5b941;
  border-radius: 5px;
}
