/* Popup CSS */

/*
papaya: #e26e5c
burgundy: #723d46
dark burg: #472d30
weird green: #d5b941
*/

/* fonts */
@font-face {
  font-family: 'Anton';
  src: url('../css/Anton/Anton-regular.ttf')
  format('truetype');
}

#accent-font {
  font-family: 'Anton', Helvetica, sans-serif;
}

body {
  margin: 0px;
}

.outer-box {
  background-color: #723d46;
  width: 300px;
  height: 450px;
  margin-top: -16px;
}

.inner-box {
  background-color: #e26e5c;
  width: 270px;
  height: 420px;
  position: relative;
  top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.exit-button {
  background-color: #d5b941;
  border-radius: 15px;
  position: relative;
  right: 15px;
  top: 15px;
}

.popup-text {
  font-family: 'Helvetica';
}

h1 {
  font-weight: bold;
  font-style: italic;
  color: #723d46;
}

h4 {
  font-style: italic;
  color: white;
}

p {
  color: white;
}

.highlight-box {
  width: 150px;
  height: 40px;
  background-color: #d5b941;
  border-radius: 5px;
}
